<!DOCTYPE html>
<html>
<head>
    <title>Passenger Details</title>
</head>
<body>
<h2>Passenger Details</h2>

<form method="POST" action="/add-ui">

    <label>QR Code</label><br>
    <input type="text" name="qr_code" placeholder="RAIL-1" required><br><br>

    <label>Name</label><br>
    <input type="text" name="name" required><br><br>

    <label>Father Name</label><br>
    <input type="text" name="father" required><br><br>

    <label>Mother Name</label><br>
    <input type="text" name="mother" required><br><br>

    <label>Phone</label><br>
    <input type="text" name="phone" required><br><br>

    <label>Address</label><br>
    <textarea name="address" required></textarea><br><br>

    <button type="submit">Save</button>
</form>
</body>
</html>
